table {
    
    width: 850px;
    height: 40px;
    border-collapse: collapse;
  }
  thead{
    /* background-color: #71c225; */
    color: aliceblue;
   

  }
  /* tr{
    /* background-color: #250101; */
    /* border-bottom: 1px solid #ddd; */
  /* } */ 
  td {
    color:rgb(8, 6, 6);
    padding: 10px;
    /* text-align: center; */
    border-left: 2px solid #f7f3ef;
    border-right: 2px solid #f0edea;
    border-bottom: 2px solid #fdfaf6;
    border-top: 2px solid #f7f4f2;
    /* gap:5rem; */
    
  }

  th {
    /* gap:5rem; */
    background-color: #1d1c1c;
    margin-left: 60px;
  }