table {
    
    width: 850px;
    height: 40px;
    border-collapse: collapse;
    background-color: rgb(49, 37, 37);
    margin-left:-10px;
  }
  thead{
    /* background-color: #71c225; */
    color: rgb(24, 100, 167);
   

  }
  /* tr{
    /* background-color: #250101; */
    /* border-bottom: 1px solid #ddd; */
  /* } */ 
  td {
    color:rgb(247, 243, 243);
    padding: 10px;
    /* text-align: center; */
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    /* gap:5rem; */
    
  }

  th {
    /* gap:5rem; */
    background-color: #1d1c1c;
    /* margin-left: 60px; */
  }