.product-page{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    /* width: 200vh; */
    height:auto;
    padding: 0 20px;
    background-color: #0c0c0c;
    /* border: 2px solid rgb(228, 8, 8); */
    gap:2rem;
    margin-bottom: 30px;
}
.prod-details{
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.prod-details button{
    justify-content: space-between;
    background-color: rgb(167, 9, 219);
}
input{
    width: 200px;
    height: 20px;
    color: #fff;
    background-color: #2b2a27;
}
