.footer{
    background-color:rgb(12, 11, 11);
    width:218vh;
    height: 40vh;
    display:flex;
    gap: 5rem;
    text-decoration: none;
}
.resources{
    display:flex;
    flex-direction:column;
    gap: 1rem;
    margin-left: 8rem;
    margin-top: 2rem;
    color: white;
}