.user-page{
    display: flex;
    /* flex-direction: column; */
    margin-left: 260px ;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: auto;
    gap: 5rem;
    /* border: 1px solid #ca0808; */
    border-radius: 5px;
    background-color: #0a0a0a;
    box-shadow: 0 0 20px #ccc;
}
.user-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 1px solid #0763db; */
    box-shadow: 0 0 20px #ccc;
}