.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 200px;
    gap: 150px;
  }
  .home .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid greenyellow; */
    margin-top: 0 ;
  }
  .home .card img {
    width: 100%;
    max-height: 300px;
  }