

.sidenav{
    margin-top: 1px;
    width:15%;
    display: flex;
     flex-direction: column;
     height:37vh;
     background-color:rgb(3, 1, 19);
     gap:0.5rem;
     border-radius: 5px;
 
 }
 .sidenav-wrapper{
     padding: 0.5rem 0.5rem;
     border-bottom: 2px solid #0a19e9;
  
 }
 .sidenav-wrapper:hover{
     background-color:black;
     /* color: #0936ca; */
     cursor: pointer;
 }
 .sidenav-header-logo{
     width: 100%;
     font-size: 1.5rem;
     font-weight: 700;
     color:white;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;;
 }